<%- include("../includes/head.ejs") %> 
<%- include("../includes/navigation") %>

</head>
<main>
    <% if(products.length > 0) { %>
      <h1>Products in Cart</h1>
      <ul>
      <% products.forEach(p => { %> 
        <li>
          <div>
          <p><%= p.productData.title %> (<%= p.qty %>)</p>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" name="productId" value="<%= p.productData.id %>">
            <button type="submit">Remove</button>
          </form>
        </div>
          <p>Price: $<%= p.productData.price %></p>
          <p>Quantity: <%= p.qty %></p>
        
        </li>
      <% }) %>
      </ul>

    <% } else { %>
      <h1>No products in Cart</h1>
    <% } %> 

</main>

<%- include("../includes/end.ejs") %>